

body {
  background: rgb(80,79,94);
  background: linear-gradient(90deg, rgba(80,79,94,1) 0%, rgba(255,240,188,1) 34%, rgba(93,93,93,1) 100%); 
  background-image: linear-gradient(90deg, rgba(80,79,94,1) 0%, rgba(255,240,188,1) 34%, rgba(93,93,93,1) 100%);
}

.mig_pag {
    width: 40%;
    background-color: hsla(120, 60%, 70%, 0.3);

}

.zoom-in {
    overflow: hidden;
    position: relative;
    border-radius: 5%;
    padding-top: 5px;
  }

  .zoom-in  {
    transition: transform 0.3s ease;
  }

  .zoom-in:hover  {
    transform: scale(2); /* You can adjust the scale factor for desired zoom level */
    z-index: 1;
  }

  .zoom-in: not(:hover) {
    transform: scale(1);
  }

.top_nav_fix {
    background-color: rgba(255,240,188,0.5);
    position:fixed;
    top:0;
    z-index: 2;

}



.button-48 {
  appearance: none;
  background-color: rgba(255,240,188,0.05);
  border-width: 0;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  border-radius: 10%;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  
}

.button-48:before {
  border-radius: 10%;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: white;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
    border-radius: 10%;
}

.button-48 span {
  position: relative;
    border-radius: 10%;
}