.mig_pag {
    width: 40%
}

.zoom-in {
    overflow: hidden;
    position: relative;
  }

  .zoom-in img {
    transition: transform 0.3s ease;
  }

  .zoom-in:hover img {
    transform: scale(2); /* You can adjust the scale factor for desired zoom level */
  }

  .zoom-in img:not(:hover) {
    transform: scale(1);
  }