<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>
  {% block title %}
  {% endblock %}
  </title>

  {{ bootstrap.load_css() }}

  
</head>
<body>
  <!-- this is a base template using Bootstrap-Flask
       https://bootstrap-flask.readthedocs.io/ -->

{% block content %}
{% endblock %}


<!-- you can delete the next line if you're not using any Bootstrap JS -->
{{ bootstrap.load_js() }}
</body>
</html>