{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Epoxiseria
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->
<button><a href="/?lang=cat">Cat</a></button><button><a href="/?lang=eng">Eng</a></button><button><a href="/?lang=esp">Esp</a></button>



<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">{{  titol  }}</h1>

      <div align="middle">


        {%for key in text["images"]%}   
            <h3>{{text["images"][key]['nom']}}</h3> 
            {% set m = text["images"][key]['llista'] | length %}

            {%for j in range(0, m)%}   
                <img class="zoom-in mig_pag" src=" {{ url_for('static', filename='images/'+text["images"][key]["llista"][j] ) }}" align="middle"></img> 
            {%endfor%}

        {%endfor%} 

        
        

      <p class="lead">{{ text["ind_templ"]['titol'] }}</p>

      <div>
        <p>{{ text["ind_templ"]['que_fem']["gene"] }}</p>
        <ul>
          {% for elem in text["ind_templ"]["que_fem"]["llista"] %}
          <li>{{ text["ind_templ"]["que_fem"]["llista"][elem] }}</li>
          {% endfor %}
        </ul>
        
      </div>

      <h3>{{ text["contact"]["titol"] }}</h3>

      {{ render_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}